body {
  display: flex;
  flex-direction: column;
  font-family: Open Sans, PT Sans, Arial;
  width: 100%;
  margin: 0;
  background-color: #fff;
}





#anchor {
  width: 5vw;
  
}







.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 3vw;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.75);
}

.header h1{
  color: #3F374B;
  font-size: 1.5vw;
  margin-left: -79vw;
  margin-top: 0.4vw;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  width: 60vw;
  min-width: 20vw;
  height: 3vw;
  margin-top: 0;
}

.header li {
  justify-content: space-around;
  list-style-type: none;
  color: #3F374B;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.header a {
  text-decoration: none;
  color: #3F374B;
}

.header a:hover {
  text-decoration: none;
  color: #817594;
}

.header hr {
  border:none;
  margin: 0;
  width: 2px;
  height: 1vw;
  background-color: #953543;
}






.block_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/pattern_block_1.svg);
  background-size: 25vw;
  width: 100%;
  height: 50vw;
}

.block_logo {
  display: flex;
  width: 40vw;
  height: 20vw;
}

.block_logo_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  border-top: 0.5vw solid #3F374B;
  border-left: 0.5vw solid #3F374B;
  border-bottom: 0.5vw solid #3F374B;
}

.tagline {
  color: #3F374B;
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
}

.block_1 img {
  width: 10vw;
  height: 10vw;
  margin-top: 2vw;
  margin-left: -6vw;
}

.block_logo_2 {
  width: 20vw;
  height: 20vw;
  background-color: #D6E9D8;
  border: 0.5vw solid #3F374B;
}

#bl_1 {
  width: 9.76vw;
  height: 9.76vw;
  background-color: #B394B3;
  border-bottom: 0.5vw solid #3F374B;
}

#bl_1_1 {
  width: 0;
	height: 0;
	border-top: 9.75vw solid #726072; 
	border-right: 9.75vw solid transparent;			
}


#bl_2 {
  width: 9.76vw;
  height: 9.76vw;
  background-color: #C04B5A;
}

#bl_2_2 {
  width: 0;
	height: 0;
	border-top: 9.76vw solid #953543; 
	border-right: 9.76vw solid transparent;			
}

#bl_3 {
  width: 9.77vw;
  height: 9.78vw;
  background-color: #6DA8A0;
  border-left: 0.5vw solid #3F374B;
  margin-top: -20.05vw;
  margin-left: 9.76vw;
}

#bl_3_3 {
  width: 0;
	height: 0;
	border-top: 9.77vw solid #3F374B; 
	border-right: 9.77vw solid transparent;			
}

#bl_4 {
  width: 9.77vw;
  height: 9.78vw;
  background-color: #7C95AD;
  border-left: 0.5vw solid #3F374B;
  border-top: 0.49vw solid #3F374B;
  margin-left: 9.76vw;
}

#bl_4_4 {
  width: 0;
	height: 0;
	border-top: 9.77vw solid #56698F; 
	border-right: 9.77vw solid transparent;			
}






.block_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 22vw;
  background-color: #66577c;
}

#about img {
  width: 8vw;
  padding-right: 3vw;
  margin-left: 2.5vw;
}

h1 {
  font-size: 2.5vw;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal; 
  margin-left: -35vw;
}

.text_me {
  width: 55vw;
  font-size: 1vw;
  color: #fff;
  word-wrap: break-word;
}

.pic_comp_1 {
  width: 100%;
  height: 35vw;
  background-color: #fff;
}

.pic_comp_1 img {
  width: 52vw;
  margin-top: 6.2vw;
  margin-left: 22vw;
  margin-top: 9vw;
}







.block_3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 65vw;
  background-color: #56718c;
}

#services img {
  width: 8vw;
  padding-right: 3vw;
  margin-left: 1.4vw;
}

.pic_comp_2 {
  width: 100%;
  height: 35vw;
}

.pic_comp_2 img {
  width: 52vw;
  margin-left: 22vw;
  margin-top: 1vw;
}

.bg_table {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 39vw;
  background-color: #fff;
  margin-top: -17.5vw;
}

.table_services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.table_services hr {
  border:none;
  margin: 0;
  width: 2px;
  height: 39vw;
  background-color: #56718c;
}

.block_3 p {
  color: #3F374B;
  font-size: 1.2vw;
  word-wrap: break-word;
}

.block_3 h2 {
  color: #3F374B;
  font-weight: bold;
  font-size: 1.5vw;
}

.table_services {
  width: 55vw;
}

.column_1, .column_2, .column_3, .column_4, .column_5 {
  width: 10vw;
  margin-top: 1vw;
}

#serv_ar {
  width: 5vw;
  background-image: url(url(../img/serv_ar.svg);
  background-repeat: no-repeat;
}

.column_1 img {
  height: 5vw;
}

.column_2 img {
  height: 5vw;
}

.column_3 img {
  height: 5vw;
}

.column_4 img {
  height: 5vw;
}

.column_5 img {
  height: 5vw;
}

#line {
  width: 100%;
  height: 2px;
  background-color: #56718c;
}







.block_pic_1 {
  width: 100%;
  height: 17vw;
  background-color: #fff;
  background-image: url(../img/block_pic_1.svg);
  background-size: 80vw;
  margin-top: -1vw;
}






.block_4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 45vw;
  background-color: #963643;
}

.block_services {
  width: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.block_services h3 {
  font-size: 2vw;
  color: #fff;
}

.block_services p {
  color: #fff;
  font-size: 1.2vw;
  word-wrap: break-word;
}

.block_service_1, .block_service_2 {
  width: 25vw;
}

.block_services hr {
  border:none;
  margin: 0;
  width: 2px;
  height: 50vw;
  background-color: #fff;
}

.block_service_1 img {
  width: 20vw;
  margin-top: 1.2vw;
}

.block_service_2 img {
  width: 20vw;
  margin-top: 1vw;
}








.block_pic_2 {
  width: 100%;
  height: 17vw;
  background-color: #fff;
  background-image: url(../img/block_pic_2.svg);
  background-size: 90vw;
  margin-top: -1vw;
}







.block_5 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 45vw;
  background-color: #56718c;
}

.block_service_3, .block_service_4 {
  width: 25vw;
}

.block_service_3 img {
  width: 23vw;
  margin-top: 1vw;
}

.block_service_4 img {
  width: 22vw;
  margin-top: 1vw;
}






.block_pic_3 {
  width: 100%;
  height: 17vw;
  background-color: #fff;
  background-image: url(../img/block_pic_3.svg);
  background-size: 80vw;
  margin-top: -1vw;
}








.block_6 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 45vw;
  background-color: #487f77;
}

.block_service_5, .block_service_6 {
  width: 25vw;
}

.block_service_5 img {
  width: 26vw;
  margin-top: 1vw;
}

.block_service_6 img {
  width: 32vw;
  margin-top: -2vw;
}

.contacts img {
  width: 3vw;
  padding-right: 2vw;
  margin-top: -0.05vw;
}

.contacts {
  display: flex;
  flex-direction: column;
}

#mail, #tel {
  display: flex;
}








.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vw;
  background-image: url(../img/pattern_block_1.svg);
  background-size: 25vw;
}

.block_footer {
  display: flex;
  width: 40vw;
  height: 20vw;
}

.block_footer_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  border-top: 0.5vw solid #3F374B;
  border-left: 0.5vw solid #3F374B;
  border-bottom: 0.5vw solid #3F374B;
}

.logo_2 img{
  width: 5vw;
  height: 5vw;
  margin-left: -3.2vw;
  margin-top: 1vw;
}

.block_footer_1 ul {
  margin-top: 1vw;
}

.block_footer_1 li {
  list-style-type: none;
  color: #3F374B;
  font-size: 1.3vw;
}

.block_footer_1 a {
  text-decoration: none;
  color: #3F374B;
}

.block_footer_1 a:hover {
  text-decoration: none;
  color: #817594;
}

.block_footer_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  border: 0.5vw solid #3F374B;
}

.social_network {
  margin-left: 1.5vw;
}

.social_network img {
  width: 8vw;
}

